<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div class="row clearfix">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
<!--=============================================-->
<!--INICIO MODAL UPLOAD -->
<!--=============================================-->
<app-modal-upload></app-modal-upload>
<!--=============================================-->
<!--FIN  MODAL UPLOAD -->
<!--=============================================-->