<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img [src]="usuario.img | imagen" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ usuario.nombre }}</div>
                <div class="email">{{ usuario.email }}</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a routerLink="/perfil" routerLinkActive="active"><i class="material-icons">person</i>Perfil</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a (click)="_usuarioService.logOut()"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">NAVEGADOR PRINCIPAL</li>
                <li *ngFor="let menu of _sidebar.menu">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">{{ menu.icono }}</i>
                        <span>{{ menu.titulo }}</span>
                    </a>
                    <ul class="ml-menu">
                        <li *ngFor="let submenu of menu.submenu">
                            <a [routerLink]="[submenu.url]" routerLinkActive="active">
                                {{ submenu.titulo }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
</section>